@model List<Worker>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <a asp-action="Create" class="btn btn-primary">Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Fullname</td>
                            <td>@item.Position</td>
                            <td>@item.Image</td>
                            <td>
                                <a asp-action="Edit" type="button" class="btn btn-warning" asp-route-Id="@item.Id">Edit</a>
                                <a asp-action="Delete" type="button" class="btn btn-danger" asp-route-Id="@item.Id">Delete</a>
                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
